body {
  margin: 0;
  padding: 0;
  font: 13px Verdana, Helvetica, Arial, sans-serif
}

h1, h2, h3 {
  text-align: center;
}

input[type=text] {
  height: 30px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

button {
  display: inline-block;
  height: 30px;
  padding: 0 20px;
  color: #555;
  text-align: center;
  line-height: 30px;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}

button[disabled], button[disabled]:hover {
  color: #fff;
  background: #ccc!important;
  border-color: #ccc!important;
  text-shadow: none!important;
}

div.app {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

div.loading {
  margin-top: 3rem;
  text-align: center;
  font-size: 20px;
  color: #ccc;
}

div.search-query {
  text-align: center;
}

div.search-query input[type=text] {
  border-radius: 4px 0 0 4px;
  border-right: none;
  width: 300px;
}

div.search-query button {
  border-radius: 0 4px 4px 0;
}

div.search-results {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}

div.found-item {
  margin-top: 2rem;
}

div.found-item .title {
  font-size: 20px;
}

div.book div.author {
  text-align: center;
}

div.book div.about {
  margin-top: 2rem;
  font-size: 14px;
}

div.book div.copy {
  margin-top: 3rem;
}
