body {
  margin: 0;
  padding: 0;
  font: 13px Verdana, Helvetica, Arial, sans-serif
}

h1, h2, h3 {
  text-align: center;
}

div.app {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

div.loading {
  margin-top: 3rem;
  text-align: center;
  font-size: 20px;
  color: #ccc;
}

div.author {
  text-align: center;
}

div.about {
  margin-top: 2rem;
  font-size: 14px;
}

div.copy {
  margin-top: 3rem;
}
